h2{
    text-align:justify;
    color: #0a5999;
}

h3{
    color: #0a5999;
    text-align: center;
}

p{
    text-align: left;
}

a:link{
    text-decoration: none;

}

a:hover{
    background-color: #a3cef1;
    color: #f39ba8;
}

a:visited{
    color: #0a5999;
}

#cabecalho{
    float: center;
    text-align: center;
    background-color:  #a3cef1;
    color: #0a5999;
}

nav a{
    display: inline;
    margin: 30px;
    border-top: 20px;
}

nav{
    margin-top: 10px;
    text-align: center;
}

footer{
    text-align: center;
}

.font-serif{
    font-family: 'Times New Roman';
}
